body{
    width:390px;
    height:844px;
    margin: auto;
    
    background-color:#000000
   
 ;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  }
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#child-body{
    margin-top: 50px;
    
    width: 389px;
    height: 500px;
   
   border-radius: 30px;
   background: transparent;
    backdrop-filter: blur(600px);
    margin-bottom: 150px;
    background:linear-gradient(45deg,rgba(0, 0, 0, 0),rgb(189, 202, 75),rgb(255, 185, 93),rgb(162, 87, 248),rgb(128, 49, 219),rgb(255, 81, 81),rgb(94, 0, 216));
     background-size: 300% 300%;
    animation: gradient 9s ease infinite;  }
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    


#photo{
    
    width:390px;
    height:200px;
    margin: center;
    
   
    display: flex;
    
    justify-content: center;
    align-items: center;
    

}
#image {
    margin-top: 20px;
    width: 155px;
    height: 155px;
    border-radius: 50% ;
    background: transparent;
    
    backdrop-filter: blur(10px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#image img{
    width: 140px;
    height: 140px;
    border-radius: 50% ;
    
}
#name{
    margin-top: 5px;
    font-size: 15px;
    
    
    color: #d8faff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fade 3s ease-in-out;

}
@keyframes fade{
    0%{opacity:0;}
    100%{opacity:1;}
}
 
#inn{
    
    height: 190px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.box{
    width: 70px;
    height:70px;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.095);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    
   
    
}
#box-4{
    width:107px
}
#box-5{
    width:107px;
}
#box-1 img{
   transform: scale(2);}
#box-2 img{
    height:40px;
    width:40px;
}
#box-3 img{
    height:40px;
    width:40px;
}
#box-4 img{
    height:30px;
    width:30px;
}
#box-5 h5{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-decoration: none;
    color: rgb(0, 0, 0);
}  
#button{
    width: 214px;
    height: 54px;
    margin: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    
    width: 210px;
    height: 50px;
    border: none;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(195, 192, 192);
    color: rgb(203, 203, 203);
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
#button a{
    text-decoration: none;
    color: rgb(186, 186, 186);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

